<section>
    <div class="container">
        <div style="width: 200px;" class="row ms-auto mt-3">
            <a class="btn btn-success" href="/admin/add-product">Add Products</a>
        </div>
    
            <table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
      <th scope="col">Edit/Delete</th>
    </tr>
  </thead>
  <tbody>
      {{#each products}}
    <tr>
      <th scope="row">1</th>
      <td>{{this.Name}}</td>
      <td>{{this.Price}}</td>
      <td>{{this.Description}}</td>
      <td><img style="width: 70px; height: 60px;" src="/images/{{this._id}}.jpg" alt=""></td>
      <td>
        <a class="btn btn-primary" href="/admin/edit-product/{{this._id}}">Edit</a>
        <a class="btn btn-danger" href="/admin/delete-product/{{this._id}}" onclick="return confirm('Are you Want to delete {{this.Name}}?')">Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
    
    </div>
</section>